body{
    background-image: url(./images/bg\ img.jpg);
}
.profile{
    display: flex;
    width: 200px;
    height: 200px;
}
.logo{
   
    margin-left: 450px;
    margin-bottom: 500px;
}
.logo > img{
     width: 60%;
    height: 60%;
   
}
.schedule{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -500px;
    color:black

}
.sched>h6{
    border: white 5px solid;
    border-radius: 10px;
    background-color: #B2A3A3; 
    
}
.sched>h1{
      border: white 5px solid;
    border-radius: 50px;
    background-color: #B2A3A3;  
    padding-left: 100px;
    padding-right: 100px; 
    padding: 20px;
    
}
.homepage{
   color:white;
   margin-top: 10px;
}

.homepage>ul>li{
    list-style: none;
display: inline;
padding: 20px 0px 20px 0px;
margin-left: 250px;
margin-top: -100px;
border: white 5px solid;
border-radius: 50px;

}



